.audio
	.controls
		color white
		display inline-block
		float left
		padding 9px
		z-index 10
		.control
			display inline-block
			cursor pointer
	.timer
		padding 9px
		float right
		display inline-block
	.stream
		display inline-block
		cursor pointer
		float right
		z-index 10