.footer
    display flex
    background-color #282d31
    padding-top  20px
    padding-bottom 15px
    
    h3
        font 300 1.5em "Helvetica Neue", sans-serif
        span
            color: white
        a
            color: #57be30   
    .social-links 
        padding 0
        list-style none
        margin 15px 0
    
        .icon
            margin 10px 25px 10px 0
            display inline-block
            font-size 23px
        
            p
                font-size 12px
                color #228C8B 
        
            a
                color  #228C8B

            a:hover
                cursor pointer
