/*
 *Episodes stylus
 */
.episodios
	padding-top 60px
	padding-bottom 30px
	.title
		padding-bottom 20px
	.episodio:last-child
		border-bottom-color black
		border-bottom-style solid
		border-bottom-width 1px
	.episodio
		border-left-color black
		border-left-style solid
		border-left-width 1px
		
		border-right-color black
		border-right-style solid
		border-right-width 1px
		
		border-top-color black
		border-top-style solid
		border-top-width 1px
		
		padding-top 20px
		padding-bottom 15px
		.duration
			font-size 0.78em
		.date
			font-size 0.78em
