/*
 * NotFound.css
 */
.notfound
	.table
		display table
		.title
			display table-cell
			vertical-align middle
			left 0
			right 0
			bottom 0
			top 0
			.text 
				font-size 3em
				color white
			.icon
				color white
				font-size 3em
			.subtext
				padding-top 1em
				font-size 1.7em
				display block
				color white
				span
					color white
				.link
					padding-left 15px
					color #55acee
					font-style oblique
					font-size 1.2em
					text-decoration underline