/*
 * featured.css
 */
specialFontColor = #57BE30
darkFontColor = #228c8b
lightFontColor = rgba(255, 255, 255, 1)
.featured
	.episode
		padding-top 60px
		padding-bottom 90px
		.bajada
			text-align left
			color specialFontColor
			font 300 1.7em 'Helvetica Neue' sans-serif
		.title
			font 300 2.4em 'Helvetica Neue' sans-serif
			color white
			line-height 1.5em
			padding-bottom 20px
			text-align left
			span
				color white
				text-shadow 1px 1px 2px black
		.audio
			width 100%
			audio[controls]
				width 100%
