/*
 * capitulos.css
 */
hover_color = #228C8B
.listado
	.title
		padding-bottom 40px
		padding-top 40px
		font-size 3em
		color white
		.text
			color white
	.episodios
		.episodio
			background none 