/*
 * title.css
 */
specialFontColor = #57BE30
darkFontColor = #228c8b
lightFontColor = rgba(255, 255, 255, 1)
.featured
	.site-name 
		display inline-block
		color lightFontColor
		border-radius 5px
		padding 15px	
		font-family 'Fredericka the Great' cursive;
		font-size 6em
		transition all 0.3s ease-in-out
		a	
			color #ffffff
		a:hover
			text-decoration none
	.site-slogan
		font-size 1.3em
	.site-slogan img
		display inline
