/*
 * featured.css
 */
.featured
	padding-top 40px
	background rgba(0,0,0,0.4)
	
	.episode
		padding-top 40px
		padding-bottom 50px
		.bajada
			text-align left
			font-family 'Raleway' sans-serif
			font-weight bold
			font-size 1.4em
		.title
			font-family 'Raleway' sans-serif
			font-weight 600
			color rgba(245,245,245,1)
			font-size 2em
			line-height 1.75em
			text-align left
		.audio
			width 100%
			audio[controls]
				width 100%
				
	.subscribe
		padding-top 30px
		padding-bottom 40px
		position relative
		bottom 0
		border-top-left-radius 7px
		border-top-right-radius 7px
		background rgba(0,0,0,0.2)
		.buttons
			.link
				font-size 1.6em
				border-left-width 1px
				border-left-style solid
				border-left-color rgba(0,0,0,0.2)
				padding-left 2px
				padding-right 2px
			.link:first-child
				border-left none
				