specialFontColor = #57BE30
darkFontColor = #228c8b
lightFontColor = rgba(255, 255, 255, 1)
.subscribe
    text-align center
    position relative
    bottom 0
    background-color rgba(40, 45, 49, 1)
    font 300 1.3em "Helvetica Neue", sans-serif
    text-shadow 1px 1px 1px black
    padding-top 2em
    padding-bottom 3em
    h2
      color lightFontColor
      font 300 3em "Helvetica Neue", sans-serif
      text-shadow 2px 2px 2px black
      margin-bottom 0.6em
    .buttons
      .link
        color specialFontColor
        font-size 1.6em
        border-left-width 1px
        border-left-style solid
        border-left-color rgba(0,0,0,0.2)
        padding-left 2px
        padding-right 2px
      .link:first-child
        border-left none
