specialFontColor = #57BE30
darkFontColor = #228c8b
lightFontColor = rgba(255, 255, 255, 1)
.subscribe
    text-align center
    padding-top 30px
    padding-bottom 40px
    position relative
    bottom 0
    background-color rgba(40, 45, 49, 1)
    h2
      color lightFontColor
    .buttons
      .link
        color darkFontColor
        font-size 1.6em
        border-left-width 1px
        border-left-style solid
        border-left-color rgba(0,0,0,0.2)
        padding-left 2px
        padding-right 2px
      .link:first-child
        border-left none